---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Project</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/chamengvang" target="_blank">Linkedin</HeaderLink>
		<HeaderLink href="https://github.com/Cvang02" target="_blank">GitHub</HeaderLink>
	</nav>
</header>

<style>
	header {
		padding: 10px;
		margin: 10px;
		opacity: 0.5; /* transparent background (delete later???) */
	}
	nav {
		text-align: end;
		font-size: 30px;
		position: sticky;
	}
	a:where(.astro-3EJL25VA):hover {
		color: red;
	}
</style>
